/*  ============== Pc and Mobile ============== */
.mobile-home {
  display: none;
}
/* {=============== Hero Section Start =====================} */
#hero {
  padding: 33px 0 84px 0;
  transition: 0.4s;
  position: relative;
}
.hero-img {
  top: 5px;
  /* transition: 1s;
  transform: scale(0.5);
  opacity: 0; */
}
.hero-left .section-title {
  background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0;
  transition: 1s;
  transform: translateY(-100px);
}
.hero-left p {
  opacity: 0;
  transition: 1s;
  font-size: 16px;
  transform: translateY(80px);
}
.social-link-item {
  width: 250px;
  padding: 15px 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  left: 11%;
  bottom: 13%;
  opacity: 0;
  transition: 1.5s;
  transform: translateY(-100px);
}
.social-link-item a {
  transition: 0.4s;
}
.social-link-item a:hover {
  transform: scale(1.1);
}
.social-link-item img {
  width: 50px;
}
span.typed-cursor.typed-cursor--blink {
  display: none;
}
.hero-btn:hover {
  transform: scale(1.05);
}
.hero-img img {
  z-index: -1;
  width: 88%;
  height: 800px;
}
.hero-warrper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.hero-left {
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 48%;
  left: 12%;
  top: 22%;
}
.join-btn {
  /* position: relative; */
  opacity: 0;
  transition: 1.2s;
  transform: translateY(80px);
  /* left: 0; */
  /* top: 0; */
}
.join-btn-text {
  position: absolute;
}
.join-btn-text p {
  font-size: 18px;
  color: var(--black-color);
  font-family: var(--thrid-font);
  font-weight: 600;
}
.join-btn a {
  position: relative;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  left: -38%;
}
.join-btn a:hover {
  transform: scale(1.05);
}
.join-btn img {
  width: 200px;
}
.hero-right {
  width: 39%;
  top: 20%;
  right: 3%;
  opacity: 0;
  transition: 1.2s;
  transform: scale(0.5);
  position: absolute;
}
.hero-imgs {
  transition: 0.4s;
  cursor: pointer;
}
.hero-imgs:hover {
  transform: scale(1.05);
}
.hero-imgs img {
  width: 90%;
}
.hero-warrper .join-discord-btn {
  border: none;
  margin-top: 30px;
  background: none;
  cursor: pointer;
  transition: 0.4s;
}
.hero-warrper .join-discord-btn:hover {
  transform: scale(1.05);
}

/* {=============== Hero Section End =====================} */
/* {================== Roadmap start =================} */

.talent-tool-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.talent-tool-con {
  margin-top: 50px;
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.talent-item-buttom {
  position: absolute;
  bottom: -31%;
}
.talent-item-buttom .talent-content {
  position: absolute;
  bottom: -58%;
  width: 68%;
  font-size: 16px;
  margin-left: 94px;
}
.talent-item-buttom img {
  width: 60% !important;
}
.talent-item img {
  cursor: pointer;
  transition: 0.4s;
}
.talent-item {
  opacity: 0;
  transition: 1s;
  cursor: pointer;
}
.talent-item-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.talent-item-1 .talent-content p {
  opacity: 0;
  transition: 1.3s;
  transform: translateY(100px);
}
.talent-item-3 .talent-content p {
  opacity: 0;
  transition: 1.3s;
  transform: translateY(100px);
}
.talent-item-4 .talent-content p {
  opacity: 0;
  transition: 1.3s;
  transform: translateY(100px);
}
.talent-content {
  position: absolute;
  bottom: -21%;
  width: 68%;
  left: 47px;
  font-size: 16px;
}
.talent-item-3 .talent-content {
  position: absolute;
  bottom: -23%;
  width: 66%;
  left: 128px;
}
.talent-item img:hover {
  transform: scale(1.05);
}
.talent-item img {
  width: 85%;
}
.talent-content {
  text-align: left;
}
.talent-content .section-title {
  margin-bottom: 15px;
}
.talent-item-1 {
  transform: translateX(-200px);
}
.talent-item-2 {
  transform: scale(0.5);
}
.talent-item-3 {
  transform: translateX(400px);
}
.talent-item-4 {
  transform: translateY(400px);
}

/* {=================== virtual-office start ==================} */
.virtual-office {
  padding: 180px 0 100px 0;
}
.virtual-wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: auto;
  align-items: center;
}
.virtual-content {
  text-align: left;
}
.virtual-left {
  opacity: 0;
  transition: 1s;
  cursor: pointer;
  transform: scale(0.5);
}
.virtual-left img {
  transition: 0.4s;
  width: 100%;
}
.virtual-left img:hover {
  transform: scale(1.05);
}
.virtual-content .section-title {
  margin-bottom: 15px;
}
.virtual-right {
  position: relative;
  cursor: pointer;
  opacity: 0;
  transition: 1s;
  transform: translateY(300px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.virtual-right .virtual-contents {
  position: absolute;
  width: 74%;
  margin: auto;
  padding-left: 43px;
  text-align: left;
}
.virtual-contents h2 {
  font-size: 40px;
  font-weight: 900;
  font-family: var(--primary-font);
  color: #fff;
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}
.virtual-contents p {
  font-size: 16px;
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}
.virtual-right .virtual-contents span {
  background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.virtual-right .virtual-img img {
}
.virtual-right .virtual-img img {
  transition: 0.4s;
  width: 100%;
}
.virtual-right .virtual-img img:hover {
  transform: scale(1.05);
}

/* {=================== virtual-office end ==================} */
/* {================= Remote Job Start ====================} */
.remote-job {
  margin-top: 250px;
}
.remote-job-wrapper {
  opacity: 0;
  transition: 1s;
  transform: translateX(-100px);
  width: 90%;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url(../images/remote-job-img.png);
  background-size: 100%;
  height: 470px;
  background-repeat: no-repeat;
}
.remote-content {
  width: 80%;
  /* margin: auto; */
  margin-left: 162px;
  margin-top: 70px;
  text-align: left;
}
.remote-content h2 {
  font-size: 60px;
  font-weight: 900;
  font-family: var(--primary-font);
  color: #fff;
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}
.remote-content span {
  background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.remote-content p {
  font-size: 16px;
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}
.remote-job-img {
  opacity: 0;
  /* position: absolute; */
  right: 0%;
  transition: 1s;
  cursor: pointer;
  transform: scale(0.5);
}
.remote-job-imgs {
  transition: 0.4s;
}
.remote-job-imgs:hover {
  transform: scale(1.05);
}
.remote-job-img img {
  width: 60%;
}

/* .skill-items {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 28px;
  place-items: center;
} */
.skill-items {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.skill-items-2 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */

  gap: 20px;
  width: fit-content;
  margin: auto;
  padding-top: 30px;
}
.skill-item {
  transition: 0.4s;
}
.skill-item:hover {
  transform: scale(1.2);
}
.skill-item img {
  width: 130px;
}
.skill-content {
  padding-top: 32px;
}
/* {================= Remote Job end ====================} */
/* {=================== Community start =========================} */
.cummunity {
  background-repeat: no-repeat;
  padding-bottom: 150px;
  padding-top: 180px;
}
.community-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.community-items::before {
  content: "";
  width: 100%;
  height: 260px;
  position: absolute;
  background-image: url(../images/community-before.png);
  background-repeat: no-repeat;
  top: 277px;
  left: 0%;
  opacity: 0.4;
  z-index: -1;
}
.community-title h1 span {
  background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.community-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.community-items .community-item {
  cursor: pointer;
  opacity: 0;
  transition: 1s;
  transform: scale(0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.community-content {
  position: absolute;
  width: 79%;
  top: 35px;
  left: 19px;
}
.community-content h3 {
  font-size: 25px;
  font-weight: 900;
  font-family: var(--primary-font);
  color: #fff;
  margin-bottom: 11px;
}
.community-content p {
  font-size: 16px;
  color: #fff;
  line-height: 25px;
}
.community-items .community-item .community-item-img .com-2 {
  display: none;
}
.community-items .community-item:hover .community-item-img .com-2 {
  display: block;
}
.community-items .community-item:hover .community-item-img .com-1 {
  display: none;
}

.community-item-img img {
  width: 100%;
}

/* {=================== Community end =========================} */

/* {===================== Backer start ==================} */
section.backer {
  padding-top: 180px;
  position: relative;
}
.backer-title h1 span {
  background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.backer-items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  text-align: center;
  margin-top: 60px;
}
.backer-items .backer-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: 1s;
  transform: translateY(150px);
  position: relative;
}
.backer-items .backer-item .backer-2 {
  display: none;
}
.backer-items .backer-item:hover .backer-2 {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backer-items .backer-item:hover .backer-1 {
  display: none;
  transition: 0.4s;
}
.backer-1 {
  width: 80%;
}
.backer-2 {
  width: 80%;
}
.backer-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* {===================== Backer end ==================} */

.skill-content h4 span {
  font-size: 30px;
  font-family: var(--primary-font);
  font-weight: 500;
  background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.project-item {
  background-image: url("../images/project-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: fit-content;
  /* padding: 20px; */
  border-radius: 10px;
  border: 1px solid #fff;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  height: 400px;
}
.project-item::before {
  content: "";
  position: absolute;
  width: 100%;
  background-image: url("../images/project-arrow.png");
  height: 50px;
  bottom: -50px;
  left: 0;
  background-repeat: no-repeat;
}
.project-item:hover .project-img {
  transition: all 0.4s ease;
}

.project-item:hover .project-img img {
  transform: scale(1.1);
  transition: transform 0.4s ease;
}
.project-img {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.project-img img {
  width: 100%;
  transition: transform 0.4s ease;
  display: block;
}

.project-content .project-title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 150%;
  transition: .04s;
}
.project-item:hover .project-content .project-title {
  color: #00ddff;
}

.project-content {
  /* padding-top: 20px; */
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.project-skill ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project-skill ul li {
  border: 1px solid #fff;
  padding: 2px 7px;
  border-radius: 3px;
  font-size: 10px;
  line-height: 17px;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

a.live-view-btn {
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 6px 20px;
  background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s;
  font-size: 16px;
}
a.live-view-btn:hover {
  background: linear-gradient(90deg, #00ddff 0%, #6affb0 52.43%);
  transition: 0.4s;
  color: #fff;
  transform: scale(1.02);
}

.project-github-link a {
  padding: 6px 11px;
  background: #b9bbbe;
  border-radius: 4px;
  transition: 0.4s;
}
.project-github-link a:hover {
  background: linear-gradient(90deg, #00ddff 0%, #6affb0 52.43%);
}

.project-github-link a img {
  width: 25px;
}

.project-content p {
  font-size: 16px;
  line-height: 150%;
}

.contact-content {
  position: absolute;
  left: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.contact-content .contact-icon img {
  width: 30px;
}
.contact-content h4 {
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 10px;
}

.contact-content p {
  font-size: 16px;
}
.contact-img {
  width: 100%;
}
.contact-img img {
  width: 100%;
}
.contact-content a {
  color: #fff;
}
.contact-content:hover a {
  color: #fff;
}
/* ====================== Project ====================== */
.project .swiper-slide {
  opacity: 1 !important;
}
.project-wrapper {
  margin-top: 40px;
}
.custom-navigation {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 41%;
  z-index: 111;
}
.custom-navigation button {
  background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.custom-navigation .swiper-button-disabled {
  background: linear-gradient(90deg, #bdcac3 0%, #668a90 52.43%);
  transition: 0.4s;
}
.custom-navigation button img {
  /* max-width: 100%; */
  width: 15px;
}
