@media only screen and (max-width: 1240px) {
  .pc {
    display: none;
  }
  .mobile-home {
    display: block;
    scroll-behavior: smooth;
  overflow-x: hidden;
  }
  .body {
    background-image: none !important;
    overflow-y: none;
  }
  .virtual-img img {
    overflow: hidden;
  }
}
/*  =================== Pc responsive start  ============= */
/* =================== swiper start ================= */
@media only screen and (max-width: 1200px) {
  div#tsparticles {
    display: none !important;
  }
}
/*  =================== Mobile responsive start  ============= */

/* =================== swiper end ================= */
/* ============= Hero section start ============= */
@media only screen and (max-width: 1750px) {
  .join-btn a {
    position: relative;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    left: -31%;
}
}
@media only screen and (max-width: 1380px) {
  .section-title {
    font-size: 55px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 1370px) {
  .section-title {
    font-size: 55px;
    line-height: 60px;
  }
  .hero-left {
    position: absolute;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    left: 12%;
    top: 19%;
}
}
@media only screen and (max-width: 1240px) {
  .hero-mobile {
    overflow-x: hidden;
    padding: 150px 0 100px 0 !important;
  }
  .swiper-slide-active::before {
    content: "";
    top: 5px;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 0%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .community-items::before {
    background-image: none;
  }

  .hero-mobile-warrper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    overflow-x: hidden;
  }
  .hero-mobile-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mobile-section-title {
    font-size: 50px;
    font-weight: 900;
    font-family: var(--primary-font);
    line-height: 60px;
    background: linear-gradient(90deg, #6affb0 0%, #00ddff 52.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    overflow-x: hidden;
  } 
  .hero-mobile-right{
    overflow-x: hidden;
  }
  .hero-mobile-right img {
    width: 100%;
  }
  .mobile-join-discord-btn {
    border: none;
    background: none;
    text-align: left;
    overflow-x: hidden;
  }
  .mobile-join-discord-btn img {
    width: 46%;
  }
}
@media only screen and (max-width: 992px) {
  .mobile-section-title {
    font-size: 40px;
  }
  .hero-mobile-warrper {
    grid-template-columns: 1fr;
  }
  .hero-mobile-left {
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
  }
  .mobile-join-discord-btn img {
    width: 60%;
  }
  .mobile-join-discord-btn {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .hero-mobile {
    padding: 100px 0 50px 0 !important;
  }
  .section-title {
    font-size: 40px;
    line-height: 53px;
  }
  .hero-warrper {
    width: 100%;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 550px) {
  .hero-mobile {
    padding: 100px 0 50px 0 !important;
  }
  .mobile-section-title {
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 19px;
  }
  .hero-mobile-left {
    gap: 15px;
  }
}

/* ============= Hero section end ============= */
/* ================ talent section start ============= */
@media only screen and (max-width: 1550px) {
  .talent-item-buttom img{
    width: 40% !important;
  }
  .talent-item-buttom .talent-content {
    position: absolute;
    bottom: -72%;
    width: 45%;
    font-size: 16px;
    margin-left: 170px;
}
.talent-item-3 .talent-content {
  position: absolute;
  bottom: -32%;
  width: 80%;
  left: 116px;
}
@media only screen and (max-width: 1280px) {
.talent-item-3 .talent-content {
  position: absolute;
  bottom: -53%;
  width: 80%;
  left: 92px;
}
}
}
@media only screen and (max-width: 1240px) {
  .talent-mobile {
    padding: 0 0 100px 0;
    overflow-x: hidden;
  }
  .talent-mobile-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
  .talent-mobile-item h3 {
    font-family: var(--primary-font);
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(90deg, #6affb0 0%, #00ddff 95.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .talent-mobile-item{
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 992px) {
  .talent-mobile-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .talent-mobile-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
    justify-content: center;
  }
  .talent-mobile {
    padding: 0 0 50px 0;
  }
}
@media only screen and (max-width: 500px) {
  .talent-mobile-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .talent-mobile-item h3 {
    font-size: 27px;
    margin-bottom: 10px;
  }
}
/* ================ talent section end ============= */

/*  ===================  virtual ============= */
@media only screen and (max-width: 1700px) {
  .virtual-right .virtual-contents{
    position: absolute;
    width: 82%;
    margin: auto;
    padding-left: 60px;
    text-align: left;
  }
  .virtual-right .virtual-contents h2{
    font-size: 30px;
  }
  .virtual-right .virtual-contents p{
    line-height: 25px;
  }
}
@media only screen and (max-width: 1480px) {
  .virtual-right .virtual-contents{
    position: absolute;
    width: 82%;
    margin: auto;
    padding-left: 60px;
    text-align: left;
  }
  .virtual-right .virtual-img img {
    width: 110% !important;
}
}
@media only screen and (max-width: 1400px) {
  .virtual-right .virtual-contents{
    position: absolute;
    width: 94%;
    margin: auto;
    padding-left: 96px;
    text-align: left;
  }
  .virtual-right .virtual-contents h2{
    font-size: 27px;
  }
  .virtual-right .virtual-contents p{
    line-height: 22px;
  }
}
@media only screen and (max-width: 1500px) {
  .virtual-office {
    padding: 250px 0 100px 0;
  }

}
.virtual-office .virtual-img img {
  width: 100%;
}
@media only screen and (max-width: 1240px) {
  .mobile-virtual-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
  }
  .mobile-virtual-left{
    overflow-x: hidden;
  }
  .mobile-virtual-left img {
    width: 100%;
  }
  .mobile-virtual-content{
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 992px) {
  .mobile-virtual-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 40px;
  }
  .mobile-virtual-content {
    text-align: center;
  }
}
/* {================= Remote Job Start ====================} */
@media only screen and (max-width: 1600px) {
  .remote-job-img {
    right: -9%;
  }
  .remote-job-img img {
    width: 70%;
    transition: 0.4s;
  }
}
@media only screen and (max-width: 1460px) {
  .remote-content {
    width: 88%;
    /* margin: auto; */
    margin-left: 144px;
    margin-top: 56px;
    text-align: left;
}
.remote-content h2 {
  font-size: 40px;
  font-weight: 900;
  font-family: var(--primary-font);
  color: #fff;

}
}
@media only screen and (max-width: 1240px) {
  .mobile-remote {
    padding: 50px 0;
  }
  .mobile-remote-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
  }
  .mobile-remote-left img {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .mobile-remote-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 40px;
  }
  .mobile-remote-content {
    text-align: center;
  }
}
/* {================= Remote Job end ====================} */
/* {=================== Community start =========================} */
@media only screen and (max-width: 1240px) {
  .cummunity{
    background-image: none !important;
  }
  .mobile-community-wrapper .mobile-section-title {
    text-align: center;
  }
  .cummunity {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .mobile-community-items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .mobile-community-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
 .mobile-community-item h2{
  font-size: 25px;
  margin-bottom: 20px;
  font-family: var(--primary-font);
 }
  .mobile-community-item-img img{
    width: 80%;
  }
  .mobile-community-items .community-item {
    opacity: 1;
  }
  .mobile-community-items
    .mobile-community-item
    .mobile-community-item-img
    .com-2 {
    display: none;
  }
  .mobile-community-items
    .mobile-community-item:hover
    .mobile-community-item-img
    .com-2 {
    display: block;
  }
  .mobile-community-items
    .mobile-community-item:hover
    .mobile-community-item-img
    .com-1 {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .mobile-community-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-community-items {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
  .cummunity {
    padding-bottom: 50px;
    padding-top: 20px;
  }
}
/* {=================== Community end =========================} */
/* {===================== Backer start ==================} */
@media only screen and (max-width: 1240px) {
    .backer-items{
        gap: 50px;
    }
    .backers-item{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  .backer-img img{
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
    .backer-items{
        gap: 30px;
    }

}
/* {===================== Backer end ==================} */
 /* {=========== Footer start =======================} */
 @media only screen and (max-width: 1240px) {
    .mobile-footer-bg img{
        overflow: hidden;
        width: 100%;
        height: 300px;
    }
    .mobile-footer{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
      }
      .mobile-footer-con {
        position: absolute;
        z-index: 1111;
        cursor: pointer;
        opacity: 1;
        transition: 1s;

      }
 }
 @media only screen and (max-width: 768px) {
  .socials {
      grid-template-columns:  1fr 1fr;
      gap: 15px;
    }
    .mobile-footer-bg img {
      height: 401px;
  }
  .terms-and-policy {
      width: 80%;
  }
 }
 @media only screen and (max-width: 500px) {
  .socials {
      grid-template-columns:  1fr 1fr;
      gap: 15px;
    }
    .mobile-footer-bg img {
      height: 350px;
  }
  .terms-and-policy {
      width: 80%;
  }
  .terms-and-policy p{
      font-size: 15px;
 }
}
 /* {=========== Footer start =======================} */
